:root {
    /* for colors */
    --color-text : #fff;
    --color-primary: #576cbc;
    --color-secondary : #19376d;
    --color-dark : #0B2447;
    --color-bg :  #04152d;

    /* for fonts */
    --font-roboto : 'Roboto'
}